@tailwind base;
@tailwind components;
@tailwind utilities;


/* Grid */
.e-table {
  @apply border-collapse;
}
.e-grid .e-headercell {
  @apply bg-gray-100 text-gray-500;
}

.e-grid .e-headercell .e-headertext {
  @apply font-normal;
}

.e-grid .e-row {
  @apply bg-white;
}

.e-grid .e-row:nth-child(even) {
  @apply bg-gray-50;
}

.e-grid .e-row:hover {
  @apply bg-gray-200;
}

/* Grid: sorting icons */
.e-grid .e-icon-ascending::before {
  content: '\e822';
}

.e-grid .e-icon-descending::before {
  content: '\e7fe';
}

.e-headercell[aria-sort="none"] .e-icons::before {
  @apply text-gray-400;
  content: '\e822';
}

/* Grid: toolbar controls */
.e-ccdlg.e-cc.e-control.e-dialog.e-lib.e-popup {
  @apply !left-0;
}

.e-toolbar-right .e-pagesizes {
  @apply flex flex-row-reverse items-center gap-2 h-full mr-2;
}

.e-toolbar-right .e-pagesizes .e-pagerdropdown .e-input-group {
  @apply !w-24;
}